@media (min-width:1024px){
    .home-product-item{
        margin-bottom:24px ;
    }
}
/* mobile & tablet */
@media (max-width:1023px){
    :root{
        --header-height:70px ;
        --header-navbar:0px ;
    }
    .hide-on-mobile-tablet{
        display: none;  
    }    
    .header{
        z-index: 10;
        position: fixed;
        top:0;
        right:0;
        left:0;

    }
    .header__cart-list {
        position: fixed;
        top: 70px;
        right: 0px;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    }
    .header__cart-list::before{
        display: none;
    }
    .app_container{
        margin-top:calc( var(--header-height) + var(--header-sort-bar-height)) ;
    }
    ul.header__sort-bar{
        display: flex;
    }
}

/*tablet */
@media (min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }
    .header__cart{
        width: 70px;
        text-align: right;
    }
    .home-product-item{
        margin-bottom:12px ;
    }
}

/* mobile*/
@media (max-width:739px){
    .hide-on-mobile{
        display: none;
    }
    .header-with-search {
        padding: 0 16px;
        justify-content: space-between;
    }
    .header__cart , .header__logo{
        width: unset;
        line-height: 0;
    }
    .header__search{
        padding: 0;
        height: 20px;
        position: fixed;
        width: 100%;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0,0,0, 0.05);
        z-index: 1;
        padding: 0 10px;
        animation:search_mobile-sideIn linear 0.2s ;
        transform-origin: left;
        display: none;
        
    }
    .header__search-checkbox:checked ~ .header__search{
        display: flex;
    }
    .header_search-history{
        position: fixed;
        top: calc(var(--header-height));
        width: 100%;
        left: 0;
        right: 0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        margin-top: 1px;
    }
    @keyframes search_mobile-sideIn{
        from{
             transform: scale(0);            
        }
        to{
            transform: scale(1);             
        }       
    }
    .pagination-item__link{
        min-width: 30px;
        font-size: 1.2rem;
    }
    .app_container .row{
        margin: 0;
        padding-top :10px;
    }
    .header_search-history{
        position: fixed;
        top:calc(var(--header-height)+var(--header-sort-bar-height));
        right: 0;
        left: 0;
        width: 100%;
    }
    .header__logo-img{
        width: 110px;
    }
    .footer{
        padding: 0 30px;
    }
    .home-product-item{
        margin-bottom:8px ;
    }
    .footer__heading{
        text-align: center;
    }
    .footer-item__link{
        justify-content: center;
    }
    .footer__download-apps{
        display: flex;
        flex-direction: column;
    }
    .footer__download{
       justify-content: center;
    }
}
